<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,500i,700|Playfair+Display:400,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2162da8111.js" crossorigin="anonymous"></script>
    <title>Travel Planner</title>
</head>

<body>
    <div id="parent-container">
        <nav>
            <div id="title">
                <div id="page-title">Travel Planner</div>
            </div>
            <ul id="menu">
                <li class="item">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="item">
                    <a class="nav-link" href="saved-trips.html">Saved Trips</a>
                </li>
            </ul>
        </nav>
        <section id="top-post">
            <div class="text-gradient">
                <div class="">
                    <div class="">
                        <input type="text" placeholder="Destination" id="destination" required>
                    </div>
                    <div class="">
                        <input type="date" placeholder="Leaving on" id="date_start" required>
                    </div>
                    <div class="">
                        <input type="date" placeholder="Returning on" id="date_end" required>
                    </div>
                    <div class="">
                        <input type="button" id="button_search" value="Search">
                    </div>
                </div>
            </div>
        </section>
        <div class="popover-modal">
            <div class="mask" role="dialog"></div>
            <div class="modal" role="alert">
                <div class="modal-header">
                    <img>
                    <span></span>
                    <button class="close" role="button">X</button>
                </div>

                <div class="left-side">

                </div>
                <div class="right-side">

                </div>
            </div>
        </div>
        <section id="newsletter">
            <form action="#">
                <h5>Subscribe to our Newsletter</h5>
                <div class="newsletter-container">
                    <div class="newsletter-element">
                        <input type="text" placeholder="Name" name="name" required>
                    </div>
                    <div class="newsletter-element">
                        <input type="text" placeholder="Email address" name="mail" required>
                    </div>
                    <div class="newsletter-element">
                        <input type="submit" value="Subscribe">
                    </div>
                </div>
                <!-- newletter container -->
            </form>
        </section>
        <footer>
            <em>Made with love by Harshita Gupta, 2020.</em>
            <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
            <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
        </footer>
    </div>
</body>


</html>